# dependencies
node_modules/
.next/
out/
dist/

# environment
.env
.env*.local
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local files
.DS_Store
*.pem

# deployment
.vercel/
